.sip-peer-body.card-body {
    padding: 5px 10px;
}

.channel-ringing {
    will-change: transform;
    animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

@-webkit-keyframes shake {
    from {
        transform: rotate(7deg);
    }
    to {
        transform-origin:center center;
        transform: rotate(-7deg);
    }

}